<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>bootstrap</title>
    <link rel="stylesheet" href="<%= asset_path 'bootstrap.css.erb' %>">
    <link rel="stylesheet" href="<%= asset_path 'bootstrap-theme.css' %>">

  </head>

  <body>
Esto debería tener bootstrap

    <script type="text/javascript" src="<%= asset_path 'bootstrap.js' %>"></script>
  </body>
</html>
